environment                = "columnar_demo"
availability               = "SINGLE_ZONE"
cloud                      = "AWS"
region                     = "us-east-1"
mongo_username             = "developer"
mongo_password             = "password"
mongo_hostname             = "cluster0.abcdef.mongodb.net"
confluent_cloud_owner_id   = "u-1a2b3c"
confluent_cloud_api_key    = "APIKEY"
confluent_cloud_api_secret = "APISECRET"
